@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Monofett&family=Patrick+Hand&family=Yatra+One&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

/* HTML5 display-role reset */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: block;
}

* {
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

a {
   width: 25%;
   margin: 0 5% 5% 0;
   text-align: center;
}

nav {
   height: 30vh;
   width: 100%;
   display: flex;
   justify-content: space-evenly;
}

.image {
   width: 10%;
}

body {
   height: 100vh;
   color: #8a2be2;
   font-family: "Bungee Inline", cursive;
   font-size: 1.6rem;
   background: rgb(4, 4, 8);
   background: linear-gradient(
      180deg,
      rgba(4, 4, 8, 1) 53%,
      rgba(9, 9, 121, 1) 99%,
      rgba(0, 212, 255, 1) 100%
   );
}

header {
   font-family: "Monofett", cursive;
   text-align: center;
}

h1 {
   font-size: 3.5rem;
}

h2 {
   font-size: 1.5rem;
}

.scoreboard {
   width: 100vw;
   height: 10%;
   margin: 3% auto;
   padding: 2%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-align: center;
}

.units {
   width: 30%;
   height: 95%;
   margin: 50% 5% 0 5%;
   display: flex;
   flex-flow: column nowrap;
   justify-content: center;
   align-items: space-around;
   /* border: 1px solid white; */
}

.p-score {
   height: 100%;
   border: 0.25rem solid #8a2be2;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 1rem;
   font-size: 3rem;
}

.c-score {
   height: 100%;
   border: 0.25rem solid #8a2be2;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 1rem;
   font-size: 3rem;
}

.message {
   margin-top: 50%;
   width: 100vw;
   height: 25%;
   font-size: 2rem;
   text-align: center;
   /* border: 1px solid white; */
}

img {
   max-width: 100%;
   max-height: 100%;
}

.r-image {
   height: 100%;
   vertical-align: top;
   text-align: center;
   margin: 0 5%;
}

.p-image {
   height: 100%;
   vertical-align: top;
   text-align: center;
   margin: 0 5%;
}

.s-image {
   height: 100%;
   vertical-align: top;
   text-align: center;
   margin: 0 5%;
}

span {
   display: block;
   font-size: 1.25rem;
   text-align: center;
}

#paper {
   margin-top: 20%;
   padding: 3%;
   border: 0.25rem solid #8a2be2;
   border-radius: 1rem;
}

#paper:hover {
   transform: scale(1.25);
}

#scissors {
   margin-top: 20%;
   padding: 3%;
   border: 0.25rem solid #8a2be2;
   border-radius: 1rem;
}

#scissors:hover {
   transform: scale(1.25);
}

#rock {
   margin-top: 20%;
   padding: 3%;
   border: 0.25rem solid #8a2be2;
   border-radius: 1rem;
}

#rock:hover {
   transform: scale(1.25);
}

.green-glow {
   border: 1rem solid #4dcc7d;
   box-shadow: 0 0 1rem #31b43a;
}

.red-glow {
   border: 1rem solid #fc121b;
   box-shadow: 0 0 1rem #d01115;
}

.gray-glow {
   border: 1rem solid #464647;
   box-shadow: 0 0 1rem #25292b;
}

/* Media Queries */

/* 540 */

@media (min-width: 540px) {
   h1 {
      font-size: 5rem;
   }

   .scoreboard {
      height: 25%;
   }

   .units {
      margin-top: 30%;
   }

   .c-score,
   .p-score {
      font-size: 4rem;
   }

   .message {
      margin-top: 25%;
   }

   nav {
      height: 10%;
   }

   span {
      font-size: 2rem;
   }
}

/* 768 */

@media (min-width: 768px) {
   h1 {
      font-size: 7rem;
   }

   .scoreboard {
      height: 20%;
   }

   .units {
      margin-top: 25%;
   }

   h2 {
      font-size: 2.5rem;
   }

   .c-score,
   .p-score {
      font-size: 5rem;
   }

   .message {
      margin-top: 20%;
      font-size: 3rem;
   }

   span {
      font-size: 3rem;
   }

   nav {
      height: 10%;
   }
}

/* 1024 */

@media (min-width: 1024px) {
   .scoreboard {
      margin-top: 10%;
      height: 15%;
   }

   .units {
      width: 15%;
      margin: 20% 15%;
   }

   .message {
      margin-top: 10%;
   }
}

/* 1200 */

@media (min-width: 1200px) {
   h1 {
      font-size: 10rem;
   }

   .scoreboard {
      margin-top: 5%;
      height: 20%;
   }

   .units {
      height: 95%;
   }

   .message {
      margin-top: 5%;
      height: 15%;
      font-size: 4rem;
   }

   nav {
      height: 15%;
   }
}

/* 1500 */

@media (min-width: 1500px) {
   .scoreboard {
      height: 25%;
      margin-top: 3%;
   }
}

.units {
   margin: 0 20%;
}

.message {
   margin-top: 3%;
   font-size: 5rem;
}
